
@{
    ViewBag.Title = "認識華光";
}

<main class="aboutPage border">
    <!-- bannerBlock -->
    <div class="bannerBlock border">
        <div class="banner_01 border">
            <div class="bannerTitleBlock border">
                <img src="~/assets/img/elements/titleImage/titleImage_01.png" alt="">
                <p>Abouts</p>
            </div>
        </div>
        <div class="breadCrumbs border">
            <ul>
                <li><a href="@Url.Action("Index","Home")">首頁</a></li>
                <li class="disPlay"><a href="@Url.Action("About","Home")">認識華光</a></li>
            </ul>
        </div>
    </div>
    <main class="main">
        <div class="aboutTitleBlock border">
            <p class="mainTitle">社團法人</p>
            <p class="subTitle"><img src="~/assets/img/elements/huaGuangName.png" alt=""></p>
        </div>
        <div class="aboutTabsBlock border">
            <ul class="aboutTabs border">
                <li class="tabItem border">創辦人介紹</li>
                <li class="tabItem border">現任理事長介紹</li>
                <li class="tabItem border">關於華光</li>
                <li class="tabItem border">組織章程</li>
                <li class="tabItem border">永久會員</li>
            </ul>
        </div>
        <div class="tabsContentsBlock border">
            <div class="tabContent">
                <div class="founderContents border">
                    <div class="contentPart border">
                        <div class="founderImage">
                            <img src="~/assets/img/elements/materialImage_06.jpg" alt="">
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">真佛在人間 密法度眾生</p>
                            </div>
                            <div class="contentText border">
                                <p>
                                    蓮生活佛盧勝彥，為「真佛宗」創辦人，1945年出生於台灣嘉義，中正理工學院大地測量係畢業，以寫作、繪畫、開示等方式弘揚「真佛密法」。全球皈依弟子已達五百萬，其中包括眾多知名的西藏活佛。蓮生活佛原是基督教徒，之後進入道教，再進入佛門顯教，最後潛修佛門密教。自1982年旅居美國西雅圖後，正式開始大轉密教度眾之大法輪，並以自身成就經驗，將一門艱深晦澀的千古密法，融匯成一順應時代潮流，易學、易懂、易修的新時代無上法門「真佛密法」。
                                </p>
                                <p>
                                    蓮生活佛依「真佛密法」修行，「四加行法」、「上師相應法」、「本尊法」、「寶瓶氣」、「拙火」、「中脈」、「開五輪」、「五金剛法」、「無上密」、「大圓滿」，得無上正等正覺，即身成就「華光自在佛」。蓮生活佛因精進不懈的實修，親証「西方極樂世界摩訶雙蓮池」的佛國悉地，並發下宏願，誓願「粉身碎骨度眾生，不捨一個眾生」，為當代密教大成就者之一。
                                </p>
                                <p>
                                    蓮生活佛是一個真正的密行尊者，由作密、修密、瑜伽密、無上瑜伽，修練到與至上意識合一，入毘盧性海，確實成就「外八成法」、「內八成法」，因此有許多西藏活佛及顯教大法師重投蓮生活佛的門下。全世界皈依的弟子已超過500萬人，日日在增加之中。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="founderContents border">
                    <div class="contentBlock border">
                        <div class="titleBlock">
                            <p class="mainTitle">寫作傳法40年 慈悲智慧實踐大乘</p>
                        </div>
                        <div class="contentText border">
                            <p>
                                蓮生活佛自25歲起每日修法、每日寫作，40年來從不間斷，其毅力非常人能及，不但實證開悟，獲得密教的虹光成就。在文字傳法上更有277本以上的靈性著作 （至
                                2020年），目前仍著述不斷，且已翻譯成日文、英文、葡萄牙文、越南文、印尼文、印度文、西班牙文等等各國文字。
                            </p>
                            <p>在美國國會圖書館全套收藏，日本出版界讚譽為「中國當代的仙人」，蓮生活佛堪稱為當今文字傳法的第一人。</p>
                        </div>
                    </div>
                </div>
                <div class="founderContents border">
                    <div class="contentPart border">
                        <div class="sloganImage border">
                            <img src="~/assets/img/elements/sloganImage_04.png" alt="">
                        </div>
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">大悲真佛 華光有情</p>
                            </div>
                            <div class="contentText border">
                                <p>
                                    華光功德會於1993年由真佛宗創辦人蓮生活佛盧勝彥金剛上師親自發起，總會設在加拿大溫哥華，採會員制，由蓮生活佛親自督導。由於真佛宗弟子遍佈世界各地，藉著華光功德會的成立，聯合全世界各分堂及弟子共同負起慈善救濟的重任，以實踐大乘菩薩的精神，服務社會。
                                </p>
                            </div>
                        </div>
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">真佛大願</p>
                            </div>
                            <ul class="contentText border">
                                <li>只要能幫助眾生，我們都肯做</li>
                                <li>這是佛教六度之一，佈施波羅蜜</li>
                                <li>我們要濟助意外，以濟人急</li>
                                <li>我們要濟助貧苦讀書，以濟人育</li>
                                <li>我們要造房舍住處，以助人安居</li>
                                <li>我們要贈衣，以濟人寒</li>
                                <li>我們要送米糧，以濟人飢</li>
                                <li>我們要印經典，傳佈佛法，拯人心靈</li>
                                <li>這些工作，我們都在做，都有做，全力以赴默默的做</li>
                                <li>佈施者有福，慈心者消業</li>
                            </ul>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="founderImage">
                            <img src="~/assets/img/elements/materialImage_07.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabContent">
                <div class="chairmanContents border">
                    <div class="contentPart border">
                        <div class="chairmanImage_01">
                            <img src="~/assets/img/elements/materialImage_08.jpg" alt="">
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock border">
                                <p class="mainTitle">現任理事長介紹</p>
                            </div>
                            <div class="contentText border">
                                <p>
                                    吳冠德理事長於民國91年擔任社團法人中國真佛宗華光功德會第3屆理事長，任職期間，吳理事長秉持著只要能幫助眾生，我們都肯做的大願，默默實際地做善事，以務實的方式實踐佛法的理論，因吳理事長本著蓮生活佛的教示，人溺己溺、人飢己飢的同理心，無私地努力做下去，也期望更多的慈善團體共襄盛舉，讓社會弱勢族群得到更多的關愛與照顧。
                                </p>
                                <p>
                                    感嘆世上苦人多，也或許一直惦記著不忍眾生之苦，因此在97年得到理監事及會員代表的支持下又再度擔任第5屆及第6屆理事長一職，吳理事長為人剛正不阿對於華光功德會的人事物真的是親力親為以身作則，在我們華光工作人員及義工的心中，是一位令人欽佩的領導者。
                                </p>
                                <p>
                                    這次真的非常感恩師尊蓮生活佛冥冥之中的安排，讓吳理事長又再度於109年度任職第九屆理事長，也再次讓華光功德會發光發熱實踐大乘菩薩的精神，服務社會，帶領著華光所有同仁一同來執行這神聖的使命。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chairmanContents border">
                    <div class="chairmanImage_02">
                        <img src="~/assets/img/elements/materialImage_09.jpg" alt="">
                    </div>
                    <div class="chairmanImage_02">
                        <img src="~/assets/img/elements/materialImage_10.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="tabContent">
                <div class="aboutContents border">
                    <div class="contentPart border">
                        <div class="contentBlock">
                            <div class="titleBlock">
                                <p class="mainTitle">認識華光功德會</p>
                            </div>
                            <div class="contentText">
                                <p>
                                    台灣華光功德會由台灣會員組織之，於民國1995年7月11日由內政部奉准正式成立，定名為「中國真佛宗華光功德會」，成立會員大會，設理監事，由理事會中遴選一人為理事長。並於1996年2月向內政部登記為「社團法人中國真佛宗華光功德會」。因地制宜成立北、中、南三區分會。
                                </p>
                                <p>
                                    秉承真佛宗創辦人蓮生活佛盧勝彥志願，依慈悲喜捨四無量心，朝醫療、社會救濟、教育、文化等四大方針，服務社會。華光功德會會員之招收和救濟對象，無地域、種族、宗教、年齡、性別之分別，是務實行善，實踐佛陀無緣大慈、同體大悲理念的慈善團體。每一位華光人均以慈悲為懷，務實行善，積極救世濟眾，打造一片人間淨土為最終目的。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="aboutImage">
                            <img src="~/assets/img/elements/materialImage_11.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="aboutContents border">
                    <div class="contentBlock border">
                        <div class="titleBlock">
                            <p class="mainTitle">華光的志業</p>
                        </div>
                        <ul>
                            <li>醫療：不定期舉行社區義診、推拿、剪髪等活動。</li>
                            <li>
                                社會救濟：關懷弱勢急難救助，設立華光小天使，長期捐助國小貧困學童白米及生活用品，目前全省有六十六所國小參與，並不時與各地相關團體合作舉辦慈善活動。
                            </li>
                            <li>教育：舉辦夏令營培育下一代更快樂茁壯，偏鄉小學英語夏令營增強弱勢兒童外語能力，不定期推廣心靈講座。</li>
                            <li>文化：散播歡樂散播愛，推動臨終關懷工作，不定期舉辦臨終關懷研習，並成立「華光助唸團」從事白事助唸，撫慰生者心靈幫助亡者靈命安詳。</li>
                        </ul>
                    </div>
                </div>
                <div class="aboutContents border">
                    <div class="contentPart border">
                        <div class="aboutImage">
                            <img src="~/assets/img/elements/materialImage_12.jpg" alt="">
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="contentText border">
                                <p>
                                    除了例行性的工作外，本會曾在印尼南海大海嘯、日本三一一大地震等國外大型災難中發揮人溺己溺精神，協助募捐，台灣九一一大地震發起募捐發放物資並幫忙建組合屋，南台灣莫拉克八八風災淹水時動員義工約六百人次協助賑災，一週內製作
                                    44,848 份愛心便當及生活必需品至災區，災後並為幫助高雄六龜、桃源、那瑪夏三區，與嘉邑行善團合作建造三座水泥橋，命名為蓮生一號二號三號，於
                                    2011 年由創辦人蓮生活佛剪綵通行，為居民解決部份交通問題。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="contentText border">
                                <p>
                                    華光功德會是一實踐無緣大慈同體大悲的公益機構，竭誠邀請您加入我們的會員，每個月贊助一百元，華光的工作便能順利推動，也期待您加入華光義工行列，只要貢獻少許時間或您的專長，功德會便能更深入人群，服務社會，您的捐贈是華光的動力，殷切歡迎大家的長期贊助。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabContent">
                <div class="organizeContents border">
                    <div class="titleBlock border">
                        <p class="mainTitle">中國真佛宗華光功德會組織表</p>
                    </div>
                    <table class="organizeTables border">
                        <tr class="titleBlock">
                            <th colspan="2">第九屆理監事名單</th>
                        </tr>
                        <tr class="contentBlock">
                            <th class="mainTitle">職務</th>
                            <th class="mainTitle">姓名</th>
                        </tr>
                        <tr class="contentBlock">
                            <td class="subTitle">理事長</td>
                            <td>吳冠德<span>先生</span></td>
                        </tr>
                        <tr class="contentBlock">
                            <td class="subTitle">常務理事</td>
                            <td>王醴<span>先生</span>、王文呈<span>先生</span></td>
                        </tr>
                        <tr class="contentBlock">
                            <td class="subTitle">一般理事</td>
                            <td>
                                王翠萍<span>女士</span>、許錦娘<span>女士</span>、李玉明<span>先生</span>、羅文量<span>先生</span>、洪東生<span>先生</span>、邱春蘭<span>女士</span>
                                、柯日和<span>先生</span>、劉妍秀<span>女士</span>
                            </td>
                        </tr>
                        <tr class="contentBlock">
                            <td class="subTitle">常務監事</td>
                            <td>鄭育真<span>女士</span></td>
                        </tr>
                        <tr class="contentBlock">
                            <td class="subTitle">一般監事</td>
                            <td>張廣智<span>先生</span>、張銘康<span>先生</span></td>
                        </tr>
                    </table>
                </div>
                <div class="organizeContents border">
                    <div class="titleBlock border">
                        <p class="mainTitle">社團法人中國真佛宗華光功德會組織章程</p>
                    </div>
                    <div class="organizeRules border">
                        <div class="rulesItem">
                            <div class="rulesTitle border">
                                <p class="mainTitle"><span>第一章</span>總則</p>
                                <div class="squareBlock"><span></span><span></span></div>
                            </div>
                            <ul>
                                <li>本會名稱為社團法人中國真佛宗華光功德會(以下簡稱本會)。</li>
                                <li>本會為依法設立，非以營利為目的之社會團體，宗旨為：依慈悲喜捨四無量心，純以「慈悲濟世」為主。</li>
                                <li>本會以全國行政區域為組織區域，並得依法設立分級組織，其名稱為「省(市)真佛宗華光功德會分會」或「省縣(市)真佛宗華光功德會分會」。</li>
                                <li>
                                    本會會址設於主管機關所在地區，並得報經主管機關核准設分支機構。前項分支機構組織簡則由理事會擬訂，報請主管機關核准後行之。會址及分支機構之地址於設置及變更時應報請主管機關核備。
                                </li>
                                <li>
                                    本會之任務如下：
                                    <ul>
                                        <li>醫療：不定期舉辦下鄉義診（如有醫療行為由本會提出醫師、護士證明報告才行之）。</li>
                                        <li>
                                            社會救濟：協助其他弱勢團體、社區服務、設立定點服務、急難救助、慈善慰問活動、積極投入當地社會，以玆改善社會風氣，造福人群。
                                        </li>
                                        <li>教育：設立華光獎助學金，一年頒發一次。</li>
                                        <li>文化：設立文物館舉辦生活講座、佛學講座、印經善書。</li>
                                        <li>臨終關懷：舉辦研習營、免費臨終助念服務。</li>
                                    </ul>
                                </li>
                                <li>本會之主管機關為內政部。目的事業主管機關依章程所訂宗旨、任務主要為：部（會）。其目的事業應受該事業主管機關之指導、監督。</li>
                            </ul>
                        </div>
                        <div class="rulesItem">
                            <div class="rulesTitle border">
                                <p class="mainTitle"><span>第二章</span>會員</p>
                                <div class="squareBlock"><span></span><span></span></div>
                            </div>
                            <ul>
                                <li>
                                    本會會員申請資格如下：
                                    <ul>
                                        <li>個人會員：贊同本會宗旨，年滿二十歲，具有中華民國國籍者。</li>
                                        <li>團體會員：凡贊同本會宗旨之公私機構或團體。</li>
                                        <li>贊助會員：贊助本會工作之團體或個人。</li>
                                        <li>
                                            永久會員：贊同本會宗旨，年滿二十歲，具有中華民國國籍資格者，一次繳交會費一萬元整。(第五屆第二次會員大會通過)申請時應填入會申請書，經理事會通過，並繳納會費。團體會員應推派代表一人，以行使會員權利。本會分級組織應加入本會為團體會員。
                                        </li>
                                    </ul>
                                </li>
                                <li>會員（會員代表）有表決權、選舉權、被選舉權與罷免權，每一會員（會員代表）為一權。但贊助會員無前項權利。</li>
                                <li>會員有遵守本會章程、決議及繳納會費之義務。</li>
                                <li>
                                    會員（會員代表）有違反法令、章程或不遵守會員大會決議時，得經理事會決議，予以警告或停權處分，其為害團體情節重大者，得經會員大會決議予以除名。
                                </li>
                                <li>會員喪失會員資格或經會員大會決議除名者，即為出會。</li>
                                <li>會員得以書面敘述理由向本會聲明退會。</li>
                            </ul>
                        </div>
                        <div class="rulesItem">
                            <div class="rulesTitle border">
                                <p class="mainTitle"><span>第三章</span>組織及職權</p>
                                <div class="squareBlock"><span></span><span></span></div>
                            </div>
                            <ul>
                                <li>
                                    本會以會員大會為最高權力機構。會員人數超過三百人以上時，得分區比例選出會員代表五十人，再召開會員代表大會，行使會員大會職權。會員代表任期三年，其選舉辦法由理事會擬訂，報請主管機關核備後行之。
                                </li>
                                <li>
                                    會員大會之職權如下：
                                    <ul>
                                        <li>訂定與變更章程。</li>
                                        <li>選舉及罷免理事、監事。</li>
                                        <li>議決入會費、常年會費、事業費及會員捐款之數額及方式。</li>
                                        <li>議決年度工作計畫、報告及預算、結算。</li>
                                        <li>議決會員（會員代表）之除名處分。</li>
                                        <li>議決財產之處分。</li>
                                        <li>議決本會之解散。</li>
                                        <li>議決與會員權利義務有關之其他重大事項。</li>
                                        <li>前項第八款重大事項之範圍由理事會定之。</li>
                                    </ul>
                                </li>
                                <li>
                                    本會置理事十一人，監事三人，由會員（會員代表）選舉之，分別成立理事會、監事會。選舉前項理事、監事時，依計票情形得同時選出候補理事三人，候補監事一人，遇理事、監事出缺時，分別依序號遞補之。本屆理事會得提出下屆理事、監事候選人參考名單。理事、監事得採用通訊選舉。但不得連續辦理。通訊選舉辦法由理事會通過報請主管機關核備後行之。
                                </li>
                                <li>
                                    理事會之職權如下：
                                    <ul>
                                        <li>審定會員（會員代表）之資格。</li>
                                        <li>選舉及罷免常務理事、理事長。</li>
                                        <li>議決理事、常務理事及理事長之辭職。</li>
                                        <li>聘免工作人員。</li>
                                        <li>擬定年度工作計畫、報告及預算、決算。</li>
                                        <li>其他應執行事項。</li>
                                    </ul>
                                </li>
                                <li>
                                    理事會置常務理事三人，由理事互選之，並由理事就常務理事中選舉一人為理事長。理事長對內綜理督導會務，對外代表本會，並擔任會員大會、理事會主席。理事長因事不能執行職務時，應指定常務理事一人代理之，未指定或不能指定時，由常務理事互推一人代理之。理事長、常務理事出缺時，應於一個月內補選之。
                                </li>
                                <li>
                                    監事會之職權如下：
                                    <ul>
                                        <li>監視理事會之執行。</li>
                                        <li>審核年度決算。</li>
                                        <li>選舉及罷免常務監事。</li>
                                        <li>議決監事及常務監事之辭職。</li>
                                        <li>其他應監察事項。</li>
                                    </ul>
                                </li>
                                <li>
                                    監事會置常務監事一人，由監事互選之，監察日常會務，並擔任監事會主席。常務監事因事不能執行職務時，應指定監事一人代理之，未指定或不能指定時，由監事互推一人代理之。常務監事出缺時，應於一個月內補選之。
                                </li>
                                <li>理事、監事均為無給職，任期三年，連選得連任。理事長之連任以一次為限。</li>
                                <li>
                                    理事、監事有下列情事之一者，應即卸任：
                                    <ul>
                                        <li>喪失會員（會員代表）資格者。</li>
                                        <li>因故辭職，經理事會或監事會決議通過者。</li>
                                        <li>被罷免或撤免者。</li>
                                        <li>受停權處分期間逾任期二分之一者。</li>
                                    </ul>
                                </li>
                                <li>
                                    本會置秘書長一人，承理事長之命處理本會事務，其他工作人員若干人，由理事長提名經理事會通過後聘免之，並報主管機關備查。但秘書長之解聘應先報主管機關核備。前項之工作人員不得由選任之職員擔任。工作人員權責及分層負責事項由理事會另訂之。
                                </li>
                                <li>本會得設各種委員會、小組或其他內部作業組織，其組織簡則由理事會擬定，報經主管機關核備後施行，變更時亦同。</li>
                                <li>本會得由理事會聘請榮譽理事長一人，名譽理事、顧問各若干人，其聘期與理事、監事之任期同。</li>
                            </ul>
                        </div>
                        <div class="rulesItem">
                            <div class="rulesTitle border">
                                <p class="mainTitle"><span>第四章</span>會議</p>
                                <div class="squareBlock"><span></span><span></span></div>
                            </div>
                            <ul>
                                <li>
                                    會員大會分定期會議與臨時會議兩種，由理事長召集，召集時除緊急事故之臨時會議外，應於十五日前以書面通知之。定期會議每年召開一次，臨時會議於理事會認為必要，或經會員（會員代表）五分之一以上之請求，或監事會函請召集時召開之。
                                </li>
                                <li>會員（會員代表）不能親自出席會員大會時，得以會面委託其他會員（會員代表）代理，每一會員（會員代表）以一人為限。</li>
                                <li>
                                    會員大會之決議，以會員（會員代表）過半數之出席，出席人數較多之同意行之。但章程之訂定與變更、會員（會員代表）之除名、理事及監事之罷免、財產之處分、本會之解散及其他與會員權利義務有關之重大事項，應有出席人數三分之二以上同意，本會辦理法人登記後，章程之變更以出席人數四分之三以上之同意或全體會員三分之二以上書面之同意行之。
                                </li>
                                <li>
                                    理事會、監事會至少每六個月各舉行會議一次，必要時得召開席會議或臨時會議。前項會議召集時除臨時會議外，應於七日前以書面通知，會議之決議各以理事、監事過半數之出席，出席人數較多數之同意行之。
                                </li>
                                <li>理事應出席理事會議，監事應出席監事會議，不得委託出席；理事、監事連續兩次無故缺席理事會、監事會者，視同辭職。</li>
                            </ul>
                        </div>
                        <div class="rulesItem">
                            <div class="rulesTitle border">
                                <p class="mainTitle"><span>第五章</span>經費及會計</p>
                                <div class="squareBlock"><span></span><span></span></div>
                            </div>
                            <ul>
                                <li>
                                    本會經費來源如下：
                                    <ul>
                                        <li>入會費：個人會員新台幣壹百元，團體會員新台幣貳百元，於會員入會時繳納。</li>
                                        <li>常年會費：個人會員新台幣壹仟貳佰元，團體會員新台幣壹萬貳仟元。（每年二月底前繳清）。</li>
                                        <li>永久會員：一次繳納一萬元整。</li>
                                        <li>事業費。</li>
                                        <li>會員捐款。</li>
                                        <li>委託收益。</li>
                                        <li>基金及孳息。</li>
                                        <li>其他收入。</li>
                                    </ul>
                                </li>
                                <li>本會會計年度以西曆年為準，自每年一月一日至十二月三十一日止。</li>
                                <li>
                                    本會每年於會計年度開始前二個月，由理事會編造年度工作計畫、收支預算表、員工待遇表，提會員大會通過(會員大會因故未如期召開者，先提理監事聯席會議通過)，於會計年度開始前報主管機關核備。並於會計年度終了後二個月內，由理事會編造年度工作報告、收支決算表、現金出納表、資產負債表、財產目錄及基金收支表，送監事會審核後，造據審核意見書送還理事會，提會員大會通過，於三月底前報主管機關核備(會員大會未如期召開者，先提理監事聯席會議通過)。
                                </li>
                                <li>本會解散後，剩餘財產歸屬所在之地方自治團體或主管機關指定之機關團體所有。</li>
                            </ul>
                        </div>
                        <div class="rulesItem">
                            <div class="rulesTitle border">
                                <p class="mainTitle"><span>第六章</span>附則</p>
                                <div class="squareBlock"><span></span><span></span></div>
                            </div>
                            <ul>
                                <li>本章程未規定事項，悉依有關法令規定辦理。</li>
                                <li>本章程經會員（會員代表）大會通過，報經主管機關核備後施行，變更時亦同。</li>
                                <li>本章程係經本會八十四年十二月三日第一屆第一次會員大會通過，並報經內政部。一百年修訂第十五條，第十七條，並報經內政部。</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="organizeContents border">
                    <div class="titleBlock border">
                        <p class="mainTitle">主官(管)任務分配</p>
                    </div>
                    <div class="organizeJobs border">
                        <div class="jobsItem">
                            <div class="jobsTitle">
                                <p class="mainTitle">秘書長：</p>
                            </div>
                            <ul>
                                <li>承理事長之命綜理會務。</li>
                                <li>年度預算決算編制。</li>
                                <li>出席分會會議及活動事項。</li>
                                <li>仁愛慈濟業務之督辦。</li>
                                <li>副秘書長一至三人，朝佐秘書長襄理會務。</li>
                            </ul>
                        </div>
                        <div class="jobsItem">
                            <div class="jobsTitle">
                                <p class="mainTitle">行政庶務：</p>
                            </div>
                            <ul>
                                <li>本會會議、文書、印信、人事、檔案收發文事項。</li>
                                <li>公務車及本會財產之保管採購事項。</li>
                                <li>會籍管理(入退會)及會費收據繳交事項。</li>
                                <li>其他庶務安排事項。</li>
                            </ul>
                        </div>
                        <div class="jobsItem">
                            <div class="jobsTitle">
                                <p class="mainTitle">教育：</p>
                            </div>
                            <ul>
                                <li>會員訪問聯繫訓練進修事項。</li>
                                <li>本會出版刊物之編輯事項。</li>
                                <li>各項活動(如:參觀、演講、康樂、生活營、書會、比賽活動等)之舉辦。</li>
                                <li>臨終關懷專案之督辦。</li>
                            </ul>
                        </div>
                        <div class="jobsItem">
                            <div class="jobsTitle">
                                <p class="mainTitle">文宣：</p>
                            </div>
                            <ul>
                                <li>本會形象推銷維護，公共關係之建立及推廣對會員有利事項。</li>
                                <li>對外聯誼交流活動。</li>
                                <li>刊登文宣廣告新聞稿。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabContent">
                <div class="memberContents border">
                    <div class="titleBlock border">
                        <p class="mainTitle">永久會員</p>
                    </div>
                    <div class="memberTables border">
                        <div class="contentPart border">
                            <div class="partition partition1">
                                <div class="partHeader">
                                    <div class="firstBlock">
                                        <div>不分區</div>
                                        <div>共 <span class="nums"></span> 名</div>
                                        @*<div>共 <span class="nums">@(((List<LotusLight.Models.Member>)ViewBag.AList).Count)</span> 名</div>*@
                                    </div>
                                    <div class="secondBlock">
                                        <div>會員編號</div>
                                        <div>姓名</div>
                                    </div>
                                </div>
                                <div class="partBody">
                                    @foreach (LotusLight.Models.Member item in (List<LotusLight.Models.Member>)ViewBag.AList)
                                    {
                                        <div class="partContent">
                                            <div>@item.Id</div>
                                            <div>@item.Name</div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="partition partition2">
                                <div class="partHeader">
                                    <div class="firstBlock">
                                        <div>國外</div>
                                        <div>共 <span class="nums"></span> 名</div>
                                        @*<div>共 <span class="nums">@(((List<LotusLight.Models.Member>)ViewBag.OList).Count)</span> 名</div>*@
                                    </div>
                                    <div class="secondBlock">
                                        <div>會員編號</div>
                                        <div>姓名</div>
                                    </div>
                                </div>
                                <div class="partBody">
                                    @foreach (LotusLight.Models.Member item in (List<LotusLight.Models.Member>)ViewBag.OList)
                                    {
                                        <div class="partContent">
                                            <div>@item.Id</div>
                                            <div>@item.Name</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="contentPart border">
                            <div class="partition partition3">
                                <div class="partHeader">
                                    <div class="firstBlock">
                                        <div>北區</div>
                                        <div>共 <span class="nums"></span> 名</div>
                                        @*<div>共 <span class="nums">@(((List<LotusLight.Models.Member>)ViewBag.NList).Count)</span> 名</div>*@
                                    </div>
                                    <div class="secondBlock">
                                        <div>會員編號</div>
                                        <div>姓名</div>
                                    </div>
                                </div>
                                <div class="partBody">
                                    @foreach (LotusLight.Models.Member item in (List<LotusLight.Models.Member>)ViewBag.NList)
                                    {
                                        <div class="partContent">
                                            <div>@item.Id</div>
                                            <div>@item.Name</div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="partition partition4">
                                <div class="partHeader">
                                    <div class="firstBlock">
                                        <div>中區</div>
                                        <div>共 <span class="nums"></span> 名</div>
                                        @*<div>共 <span class="nums">@(((List<LotusLight.Models.Member>)ViewBag.CList).Count)</span> 名</div>*@
                                    </div>
                                    <div class="secondBlock">
                                        <div>會員編號</div>
                                        <div>姓名</div>
                                    </div>
                                </div>
                                <div class="partBody">
                                    @foreach (LotusLight.Models.Member item in (List<LotusLight.Models.Member>)ViewBag.CList)
                                    {
                                        <div class="partContent">
                                            <div>@item.Id</div>
                                            <div>@item.Name</div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="partition partition5">
                                <div class="partHeader">
                                    <div class="firstBlock">
                                        <div>南區</div>
                                        <div>共 <span class="nums"></span> 名</div>
                                        @*<div>共 <span class="nums">@(((List<LotusLight.Models.Member>)ViewBag.SList).Count)</span> 名</div>*@
                                    </div>
                                    <div class="secondBlock">
                                        <div>會員編號</div>
                                        <div>姓名</div>
                                    </div>
                                </div>
                                <div class="partBody">
                                    @foreach (LotusLight.Models.Member item in (List<LotusLight.Models.Member>)ViewBag.SList)
                                    {
                                        <div class="partContent">
                                            <div>@item.Id</div>
                                            <div>@item.Name</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</main>

@*<script>
    var ffff = '@ViewBag.Obj';
    var gggg = ffff.replaceAll('&quot;', '"').replaceAll('&#160;', '');
    var oooo = JSON.parse(gggg);
</script>*@